.category-card-content-container{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.category-card-content-container > label {
    font-weight: 500;
}

.category-card-content-container > span{
    text-align: left;
    font-size: .9em;
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3em;
    line-height: 1.5em;
}